*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/* layout */
.container{
  width:85%;
  margin: 0 auto;
}

.row{
  margin: 0 -15px;
}

.row:after{
  content: "";
  clear: both;
  display: table;
}

[class^="col-"]{
  float: left;
  padding: 0 15px;
}

.col-100{
  width: 100%;
}

.col-33{
  width: calc(100% / 3);
}

.col-50{
  width: calc(100% / 2);
}
/* layout */

/* header */
nav{
  background-color: #0c325a;
  height: 80px;
  line-height: 80px;
  width: 100%;
}



.logo{
  display: inline-block;
  margin-right: 20px;
}

nav ul{
  display: inline-block;
}

nav ul li{
  list-style: none;
  display: inline-block;
  float: left;
  margin-left: 25px;
  font-size: 12px;
}

.a-nav{
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}


.text-right{
  float: right;
}

.but-green{
  border-radius: 5px;
  background-color: #7CBB02;
  padding: 10px;
}

#but-login{
  border-radius: 5px;
  border: 2px solid #ffffff;
  padding: 10px 25px;
}

/* .h-nav{
  height: 80px;
} */


.bg-header{
  background-image: url("../img/background-header.png");
  /* height: 550px; */
  background-repeat: no-repeat;
  background-color: #0c325a;
  background-size: 65%;
  background-position:110% 100%;
}

/* header jumbo */
.title{
  padding-top: 160px;
  padding-bottom: 210px;
}

.title h1{
  color: #ffffff;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}

.title .but-green{
  padding: 20px;
  position: relative;
  top: 30px;
}
/* header jumbo */
/* header */

/* main */
.t-center{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 25px;
}

.t-center h2{
  font-size: 30px;
}

.t-center > p{
  color: #808080;
  font-size: 20px;
}

.bg-grey{
  height: 160px;
  line-height: 50px;
  background-color: #d3d3d3;
}

.col-33 > img{
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 2em;
}

.col-33 h2{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #7cbb02;
  margin-top: 10px;
}

.line-hor{
  margin: 0 auto;
  margin-top: 40px;
  border-bottom: 1px solid #808080;
  width: 150px;
}

.col-33 p{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #808080;
  margin-top: 40px;
  font-size: 18px;
}

hr{
  margin-top: 40px;
}

/* mountain e title-right */
.mar-tb{
  margin-top: 50px;
  margin-bottom: 30px;
}

.mar-tb img{
  height: 450px;
}

.title-right{
  font-family: 'Roboto', sans-serif;
}

.title-right h2{
  font-size: 50px;
}

.title-right p{
  font-size: 25px;
  color: #808080;
  margin-top: 20px;
}

.title-right a{
  color: #82A6CE;
  font-size: 20px;
  position: relative;
  top: 40px;
}
/* mountain e title-right */
/* main */

/* footer */
/* foot left */
.foot-left > h2{
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  top: 50px;
}
/* foot left */

/* foot right */
.foot-right{
  float:right;
}
.foot-right p {
  display: inline-block;
  font-size: 20px;
  color: #808080;
}

select{
  border: none;
  background-color: #d3d3d3;
  color: #808080;
  font-size: 20px;
  border-bottom: 2px solid #808080;
  width: 170px;
  margin: 0 30px;
}

.foot-right .but-green{
  padding: 20px;
}
/* foot right */
/* foot help */
#help-fixed{
  position: fixed;
  bottom: 0;
  right: 180px;
  z-index: 9999;
}

.but-help{
  border-radius: 5px;
  background-color: #7CBB02;
  padding: 0 20px;
}
/* foot help */
/* footer */
