*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/* layout */
.container{
  width:85%;
  margin: 0 auto;
}

.row{
  margin: 0 -15px;
}

.row:after{
  content: "";
  clear: both;
  display: table;
}

[class^="col-"]{
  float: left;
  padding: 0 15px;
}

.col-100{
  width: 100%;
}

.col-33{
  width: calc(100% / 3);
}

.col-50{
  width: calc(100% / 2);
}
/* layout */

/* header */
nav{
  background-color: #0c325a;
  height: 80px;
  line-height: 80px;
  width: 100%;
}



.logo{
  display: inline-block;
  margin-right: 20px;
}

nav ul{
  display: inline-block;
}

nav ul li{
  list-style: none;
  display: inline-block;
  float: left;
  margin-left: 25px;
  font-size: 12px;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}


.text-right{
  float: right;
}

.but-green{
  border-radius: 5px;
  background-color: #7CBB02;
  padding: 10px;
}

#but-login{
  border-radius: 5px;
  border: 2px solid #ffffff;
  padding: 10px 25px;
}

/* .h-nav{
  height: 80px;
} */


.bg-header{
  background-image: url("../img/background-header.png");
  /* height: 550px; */
  background-repeat: no-repeat;
  background-color: #0c325a;
  background-size: 65%;
  background-position:110% 100%;
}

/* header jumbo */
.title{
  padding-top: 160px;
  padding-bottom: 210px;
}

.title h1{
  color: #ffffff;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}

.title .but-green{
  padding: 20px;
  position: relative;
  top: 30px;
}
/* header jumbo */
/* header */

/* main */

.t-center{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 25px;
}

.t-center > p{
  color: #808080;
}

.bg-grey{
  height: 120px;
  line-height: 35px;
  background-color: #d3d3d3;
}

.col-33 > img{
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 2em;
}

.col-33 h2{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #7cbb02;
  margin-top: 10px;
}

.line-hor{
  margin: 0 auto;
  margin-top: 40px;
  border-bottom: 1px solid #808080;
  width: 150px;
}
